ul{
	list-style: none;
	text-align: right;
	padding: 0;

}

.icon {float: left;
		 
}

.icon > h2 { margin:0;
}
 
li{font-size: 16px;
	padding: 15px 25px;
	display: inline-block}

.icon.dekstop{ font-size:20px;
				color: var(--text-color);
				font-weight:300;
				text-decoration:none;
				cursor:default;}
.mobile {display: none;}

.icon.mobile{background-color: pink;
			 color:white; 
			 font-size: 36;}

@media only screen and (max-width:500px)
{ .mobile { display:block; }
  .dekstop {display: none;}
  .dekstop.mobile{ display: block; } 
  }

body{color: purple;
			 background-image: url(file:///C:/Users/acer/Downloads/stmyk17t.png) ;
			 background-size: cover;
			 background-repeat: no-repeat;
			 width: 100%;
			 height: 100%;
			 display: flex;

			 }
.navbar1{list-style: none;
			display: flex;
			}
.logo { font-size:20px;
				color: var(--text-color);
				font-weight:300;
				text-decoration:none;
				cursor:default; }

		:root {--text-color: pink;
				--bg-color: black ;
				--main-color: black;
				
				--h1-font : 6rem;
				--h2-font : 3rem;
				--p-font  : 1.5rem;}

		span { color:var(--main-color); }


		header{
			   top : 40px;
			   left: 0;
			   width: 100%;
			   padding: 30px 20px;
			   display: flex;
			   justify-content: space-between;
			   align-items: center;
			   backdrop-filter: blur(10px);

			}

		h2{ padding-top: 30px; }

		.navbar{display: flex;
				list-style: none;}


		.navbar a {color: var(--text-color);
				   font-size: var(--p-font);
					font-weight: 500;
					margin: 10px 10px;
					transition: all .5 ease;
					text-decoration: none;}

		.navbar a:hover {color: var(--main-color);
						 padding-right: 10px;}

		.follow { display: flex;
				  align-items: center;
				  padding-right: 30px;
		}

		.follow a:first-child {color: var(--text-color);
								font-size: var(--p-font);
								margin-right: 20px;}
		.follow a{
			vertical-align: middle;
			font-size: 20px;
			color: var(--main-color);
			margin: 10px 15px;
			margin-right: 18px;
			margin-left: 60px;
			transition: all .20s ease;
		}

		.follow a:hover { color:var(--main-color);
						  padding-right: 10px; }

		section{padding: 90px 20px 30px;}


 .card { 		
				   max-width:300px;
				   height: 100px;
				   background-color: #FFF;
				   margin: 30px;
				   margin-right: 60px;
					padding: 45px 15px;
					display: flex;
					flex-direction: column;
					box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
					transition: 0.3s ease-in-out;
					
				}

 .card:hover{ height:620px; }
.imgbox { 
							width:260px;
							height:100 px;
							top:10px;
							left: 2px;
							bottom: 10px;
							z-index:1;
							box-shadow: 0 5px 20px rgba(0, 0, 0, 0,5); }

 .imgbox img{ max-width:100%;
	 					  border-radius:10px;
	  						}
.content { 
							margin-top: 10px;
							padding: 10px 15px;
							text-align: center;
							color: black;
							visibility: hidden;
							opacity: 0;
							transition: 0.3s ease-in-out;
			 }

 .card:hover .content { visibility:visible;
									opacity:1;
									margin-top:40px;
									transition-delay:0.3s; }

.home-text{background-image: url(https://w0.peakpx.com/wallpaper/447/160/HD-wallpaper-twice-formula-of-love-group-pc-twice-8k.jpg) ;
			background-size: cover;
			background-position: center;
      background-repeat: no-repeat;
    		margin-top: 0px;
    		color: white;}



















